/* CSS Reset Starts Here*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    width: 100%;
    height: 100%;
    position: relative;
}

/* CSS Reset Ends Here */

/* CSS Global Variables Starts Here */
:root{
    /* Colors Start Here */
    --primary-1000: #FF7757;
    --primary-500: #FF7654;
    --pure-white: #FFFFFF;
    --pure-black: #000000;
    --primary-1000-transparent: rgba(255, 119, 87, 0.1);
    --grey-light: #F5F6F7;
    --primary-light: #FFF8F1;
    --primary-light-500: #FFE8D4;
    --rating-star-color: #FFC107;
    --body-text-color: #767E86;
    --heading-text-color: #172432;
    --transparent-black: rgba(0,0,0,.3);
    /* Colors End Here */

    /* Typography Starts Here */
    --primary-font: 'Playfair Display', sans-serif;
    --secondary-font: 'Rubik', sans-serif;
    --primary-heading: 4rem;
    --secondary-heading: 4rem;
    --tertiary-heading: 3.375rem;
    --body-text-1000: 1.5rem;
    --body-text--750: 1.125rem;
    --menu-links: 1.25rem;
    /* Typography Ends Here */
}

/* Utility Classes Starts Here */
.container{
    width: 100%;
    height: 100%;
    padding: 0 2rem;
    position: relative;
    padding: 8.75rem 0;
}

.primary-button{
    color: var(--pure-white);
    font-size: var(--menu-links);
    text-decoration: none;
    font-family: var(--secondary-font);
    background-color: var(--primary-1000);
    padding: 1.25rem 2rem;
    border-radius: 12px;
}
/* Utility Classes Ends Here */

/* Hero Section Starts Here */
.hero{
    width: 100%;
    min-height: 100vh;
    background: url(/img/heroBackground.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 100px;
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.6);
}

.hero .container{
    padding: 0;
}

.navbar{
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-links{
    display: flex;
    gap: 2rem;
}

.menu-links a{
    text-decoration: none;
    font-size: var(--menu-links);
    color: var(--pure-white);
    font-family: var(--secondary-font);
}

.button-wrapper{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.button-wrapper a{
    text-decoration: none;
    font-size: var(--menu-links);
    color: var(--pure-white);
    font-family: var(--secondary-font);
}

.hero-wrapper{
    width: 100%;
}

.text-wrapper{
    width: 70%;
    margin-top: 7rem;
    padding: 0 2rem;
}

.text-wrapper h1{
    color: var(--pure-white);
    font-family: var(--primary-font);
    font-weight: 500;
    line-height: 110%;
    padding-bottom: 1rem;
}

.text-wrapper p{
    color: var(--pure-white);
    font-family: var(--secondary-font);
    font-weight: 400;
}

.form-wrapper{
    width: 100%;
    margin-top: 10rem;
    display: flex;
    align-items: stretch;
}

.booking-form{
    display: flex;
    gap: 3rem;
    background-color: white;
    padding: 3rem 2rem;
    width: 70%;
    align-items: center;
}

.form-input-wrapper{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 100%;
}

.form-input-wrapper label{
    font-size: 1rem;
    font-family: var(--secondary-font);
    text-transform: uppercase;
    color: var(--body-text-color);
}

.form-input-wrapper input{
    border: 0;
    border-bottom: 1px solid black;
    padding: 0.25rem;
}

.form-input-wrapper input:focus{
    outline: none;
}

.form-input-wrapper select{
    border: 0;
    padding: 0.25rem;
    border-bottom: 1px solid black;
}

.form-input-wrapper select option{
    font-family: var(--primary-font);
    font-size: 1rem;
    color: var(--pure-black);
}

.form-cta-wrapper{
    background-color: var(--primary-1000);
    padding: 4.71875rem 1rem;
    border-radius: 0 12px 12px 0;
    display: flex;
    align-items: center;
}

.form-cta-wrapper a,i{
    font-size: 2rem;
    color: var(--pure-white);
    font-family: var(--primary-font);
    text-decoration: none;
    width: 50%;
}

.form-cta-wrapper i{
    padding-left: 0.5rem;
}

.hamburger{
    display: none;
}

/* Hero Section Ends Here */

/* Destination Section Starts Here */
.destination{
    width: 100%;

}

.destination .container{
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
}

.partone{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading-wrapper h3{
    width: 100%;
    font-size: var(--secondary-heading);
    font-family: var(--primary-font);
    color: var(--heading-text-color);
    position: relative;
    margin-bottom: 1rem;
}

.heading-wrapper h3::before{
    content: '';
    width: 30%;
    height: 3px;
    background-color: var(--primary-1000);
    position: absolute;
    left: 0;
    bottom: -20px;
    margin-bottom: 1rem;
}

.heading-wrapper p{
    font-size: var(--body-text-1000);
    font-family: var(--secondary-font);
    color: var(--body-text-color);
}

.nav-button-wrapper{
    display: flex;
    gap: 1.5rem;
}

.nav-button-wrapper i{
    color: var(--pure-white);
    cursor: pointer;
    font-size: 2rem;
}

.nav-button-wrapper .prev-element{
    background-color: var(--heading-text-color);
    border-radius: 12px;
    padding: 1rem 2rem;
}

.nav-button-wrapper .next-element{
    background-color: var(--primary-1000);
    border-radius: 12px;
    padding: 1rem 2rem;
}

.swiper{
    width: 100%;
    margin-top: 5rem;
}

.swiper-wrapper{
    width: 100%;
    height: 100%;
}

.destination-swiper .swiper-slide{
    width: 497px;
    height: 100%;
    background: url(/img/dest1.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 1.5rem;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-end;
    position: relative;
}

.destination-swiper .swiper-slide::after{
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--transparent-black);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    border-radius: 1.5rem;
}

.destination-swiper .swiper-slide h4{
    font-size: 1.5rem;
    color: white;
    font-family: var(--primary-font);
    z-index: 1;
}

.loc-wrapper{
    display: flex;
    z-index: 1;
    align-items: center;
    gap: 1rem;
}

.loc-wrapper p{
    color: white;
    font-size: 1.125rem;
    font-family: var(--secondary-font);
}

.destination-wrapper .swiper-slide:nth-child(2){
    background: url(/img/millenium.jpg);
    background-size: cover;
    background-position: center;
}

.destination-wrapper .swiper-slide:nth-child(3){
    background: url(/img/rialto.jpg);
    background-size: cover;
    background-position: center;    
}

.destination-wrapper .swiper-slide:nth-child(4){
    background: url(/img/tajmahal.jpg);
    background-size: cover;
    background-position: center;
}

.destination-wrapper .swiper-slide:nth-child(5){
    background: url(/img/isro.jpg);
    background-size: cover;
    background-position: center;
}

.destination-wrapper .swiper-slide:nth-child(6){
    background: url(/img/kedarmath.jpg);
    background-size: cover;
    background-position: center;
}

.nav-button-wrapper2{
    display: flex;
    gap: 1.5rem;
    display: none;
}

.nav-button-wrapper2 i{
    color: var(--pure-white);
    cursor: pointer;
    font-size: 2rem;
}

.nav-button-wrapper2 .prev-element2{
    background-color: var(--heading-text-color);
    border-radius: 12px;
    padding: 1rem 2rem;
}

.nav-button-wrapper2 .next-element2{
    background-color: var(--primary-1000);
    border-radius: 12px;
    padding: 1rem 2rem;
}
/* Destination Section Ends Here */

/* Special Offer Section Starts Here */
.special-offer{
    width: 100%;

}

.special-offer .container{
    width: 100%;
    padding: 5rem 2rem;
}

.special-offer .container .partone{
    width: 100%;
}

.special-heading-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.special-text-wrapper h4{
    text-align: right;
    font-family: var(--primary-font);
    font-size: var(--secondary-heading);
    color: var(--heading-text-color);
    margin-bottom: 1rem;
    position: relative;
}

.special-text-wrapper h4::after{
    content: '';
    width: 60%;
    height: 3px;
    background-color: var(--primary-1000);
    position: absolute;
    bottom: 0;
    right: 0;
}

.special-text-wrapper p{
    text-align: right;
    font-family: var(--secondary-font);
    font-size: var(--body-text-1000);
    color: var(--body-text-color);
}

.nav-button-wrapper i{
    font-size: 2rem;
}

.special-prev-element{
    background-color: var(--heading-text-color);
    padding: 20px 28px;
    border-radius: 12px;
}

.special-next-element{
    background-color: var(--primary-1000);
    padding: 20px 28px;
    border-radius: 12px;
}

.special-offer .container .parttwo{
    width: 100%;
}

.special-swiper{
    width: 100%;
    padding: 5rem 0;
}

.special-wrapper{
    width: 100%;
    height: 100%;
}

.special-swiper .swiper-slide{
    width: 570px;
    height: 100%;
    border-radius: 12px;
    background-color: var(--primary-1000-transparent);
}

.special-slide-content-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.special-slide-content-wrapper .image-wrapper{
    width: 100%;
    height: 45%;
    border-radius: 12px;
}

.special-slide-content-wrapper .image-wrapper img{
    width: 100%;
    height: auto;
    object-fit: fill;
    border-radius: 12px 12px 0 0;
}

.special-slide-content-wrapper .text-wrapper{
    width: 100%;
    height: 55%;
    padding: 1.5rem 2.5rem;
    margin: 0;
    background-color: rgba(255, 248, 241, 1);
    border-radius: 0 0 12px 12px;
}

.special-slide-content-wrapper .text-wrapper h4{
    font-size: 1.75rem;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    color: #767E86;
    margin-bottom: 0.5rem;
}

.special-slide-content-wrapper .text-wrapper .rating-wrapper{
    margin-bottom: 1.68rem;
}

.special-slide-content-wrapper .text-wrapper .rating-wrapper i{
    padding-left: 0.25rem;
    font-size: 1rem;
    color: var(--rating-star-color);
}

.special-slide-content-wrapper .text-wrapper p{
    font-size: var(--body-text--750);
    color: var(--heading-text-color);
    line-height: 1.31rem;
    margin-bottom: 1.5rem;
}

.price-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-wrapper .price{
    display: flex;
    height: 100%;
    width: 100%;
    gap: 1rem;
    align-items: center;
}

.price-wrapper .price p{
    font-family: var(--secondary-font);
    font-size: 1.25rem;
    color: #767E86;
    font-weight: 400;
}

.price-wrapper h3 {
    font-size: 2.5rem;
    color: var(--primary-1000);
    position: relative;
    display: flex;
    align-items: center;
}

.price-wrapper h3::before {
    content: 'From';
    font-size: 1.25rem;
    color: #767E86;
    font-family: var(--secondary-font);
    font-weight: 400;
    margin-right: 0.5rem;
}

.price-wrapper a{
    font-size: 1.25rem;
    text-decoration: none;
    font-family: var(--secondary-font);
    color: var(--pure-white);
    padding: 1.25rem 2.5rem;
    background-color: var(--primary-1000);
    border-radius: 12px;
}

.special-nav-wrapper{
    display: none;
}

/* Special Offer Section Ends Here */

/* Our Blog Section Starts Here */
.our-blog{
    width: 100%;
}

.our-blog .container{
    width: 100%;
    padding: 5rem 2rem;
}

.blog-heading h3{
    font-size: var(--secondary-heading);
    color: var(--heading-text-color);
    font-family: var(--primary-font);
    margin-bottom: 1rem;
    position: relative;
    display: inline;
}

.blog-heading h3::before{
    content: '';
    width: 35%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--primary-1000); 
}

.blog-heading p{
    font-size: var(--body-text-1000);
    color: var(--body-text-color);
    font-family: var(--secondary-font);
}

.blog-content{
    width: 100%;
    /* height: 100vh; */
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    gap: 2rem;
}

.blog-content-image{
    width: 45%;
    height: 100vh;
    max-height: 800px;
}

.blog-content-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.blog-content-text{
    width: 50%;
}

.blog-content-text h4{
    font-family: var(--primary-font);
    font-size: var(--tertiary-heading);
    color: var(--heading-text-color);
    font-weight: 600;
    width: 60%;
    margin-bottom: 1.5rem;
}

.blog-content-text p{
    font-size: var(--body-text-1000);
    color: var(--body-text-color);
    font-family: var(--secondary-font);
    line-height: 3.375rem;
    margin-bottom: 1.5rem;   
}

.blog-content-text a{
    font-size: 1.5rem;
    color: var(--primary-1000);
    text-decoration: none;
    font-family: var(--secondary-font);
}

.blog-content-text i{
    color: var(--primary-1000);
    padding-left: 0.5rem;
}

.blog-content-text .cta-wrapper{
    display: flex;
    align-items: center;
}
/* Our Blog Section Ends Here */

/* Trip Planner Section Starts Here */
.trip-planner{
    width: 100%;
}

.trip-planner .container{
    width: 100%;
    height: 100%;
    padding: 5rem 2rem;
    display: flex;
    gap: 5rem;
    align-items: center;
    position: relative;
}

.trip-planner-text{
    width: 35%;
}

.trip-planner-text h4{
    font-size: var(--primary-heading);
    color: var(--heading-text-color);
    font-family: var(--primary-font);
    /* font-weight: 500; */
    margin-bottom: 2rem;
    position: relative;
}

.trip-planner-text h4::after{
    content: '';
    position: absolute;
    width: 60%;
    height: 3px;
    background-color: var(--primary-1000);
    bottom: -10px;
    left: 0;
}

.trip-planner-text p{
    font-size: var(--body-text-1000);
    color: var(--body-text-color);
    font-family: var(--secondary-font);
    font-weight: 400;
    margin-bottom: 3.5rem;
    line-height: auto;
}

.trip-planner-text a{
    font-family: var(--secondary-font);
    color: var(--pure-white);
    font-weight: 400;
    font-size: var(--body-text--750);
    text-decoration: none;
    padding: 1.25rem;
    background-color: var(--primary-1000);
    border-radius: 12px;
    display: inline;
    z-index: 20 !important;
    position: relative;
}

.trip-planner-swiper{
    width: 65%;
    height: 400px;
    overflow-y: visible !important;
    overflow-x: visible !important;
}

.trip-planner-swiper-wrapper{
    display: flex !important;
    justify-content: space-between !important;
    position: relative;
}

.trip-planner-swiper-slide{
    width: 300px !important;
    height: 400px !important;
    position: relative;
    border-radius: 26px;
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-end !important;
    overflow: visible !important;
}

.trip-planner-swiper-slide .price-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.trip-planner-swiper-slide .price-wrapper h5{
    font-family: var(--secondary-font);
    font-size: var(--body-text--750);
    color: #172432;
    font-weight: 400;
}

.trip-planner-swiper-slide .price-wrapper p{
    font-family: var(--secondary-font);
    font-size: var(--body-text--750);
}

.trip-planner-swiper-slide .title-wrapper{
    font-size: 1.75rem;
    font-family: var(--primary-font);
    color: var(--heading-text-color);
    margin-bottom: 12px;
}

.trip-planner-swiper-slide:nth-child(1)::after{
    content: '';
    width: 300px;
    height: 400px;
    background-image: url(/img/tajmahal.jpg);
    border-radius: 26px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    border-radius: 12px;
    transition: bottom 0.5s ease;
    cursor: pointer;
}

.trip-planner-swiper-slide:nth-child(2)::after{
    content: '';
    width: 300px;
    height: 400px;
    background-image: url(/img/eiffel.jpg);
    border-radius: 26px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    border-radius: 12px;
    transition: bottom 0.5s ease;
    cursor: pointer;
}

.trip-planner-swiper-slide:nth-child(3)::after{
    content: '';
    width: 300px;
    height: 400px;
    background-image: url(/img/kerala.jpg);
    border-radius: 26px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    border-radius: 12px;
    transition: bottom 0.5s ease;
    cursor: pointer;
}



.trip-planner-swiper-slide:hover::after{
    bottom: 35%;
}

.trip-rating-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}

.trip-ratings i{
    color: var(--rating-star-color);
    font-size: 1.5rem;
}

.trip-rating-wrapper p{
    font-size: var(--body-text--750);
    color: var(--body-text--color);
    font-weight: 400;
    font-family: var(--secondary-font);
}
/* Trip Planner Section Ends Here */

/* Destination Gallery Section Starts Here */
.gallery{
    width: 100%;
}

.gallery .container{
    padding: 5rem 2rem;
    width: 100%;
}

.gallery-heading-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.gallery-heading-wrapper .title-wrapper h3{
    font-size: var(--primary-heading);
    font-family: var(--primary-font);
    color: var(--heading-text-color);
    display: inline;
    position: relative;
}

.gallery-heading-wrapper .title-wrapper h3::after{
    content: '';
    width: 50%;
    height: 3px;
    background-color: var(--primary-1000);
    position: absolute;
    bottom: 0;
    left: 0;
}

.gallery-heading-wrapper .title-wrapper p{
    font-size: var(--body-text-1000);
    color: var(--body-text-color);
    font-family: var(--secondary-font);
    margin-top: 1rem;
}

.gallery-prev{
    background-color: var(--heading-text-color);
    padding: 1.25rem;
    border-radius: 12px;
    cursor: pointer;
}

.gallery-nav-wrapper{
    display: flex;
    gap: 1rem;
}

.gallery-next{
    background-color: var(--primary-1000);
    padding: 1.25rem;
    border-radius: 12px;
    cursor: pointer;
}

.galler-swiper{
    width: 400px ;
}

.gallery-swiper-wrapper{
    width: 100%;
}

.gallery-swiper-slide{
    height: 400px !important;
    border-radius: 12px;
    overflow: hidden !important;
    cursor: pointer;
    position: relative;
    transition: transform 0.25s ease;
}

.gallery-swiper-slide:nth-child(n):hover{
    transform: scale(0.95);
}

.gallery-swiper-slide:nth-child(1){
    width: 300px;
    height: 400px;
    background-image: url(img/gallery\ \(1\).jpg);
    background-size: cover;
    background-position: center;
}

.gallery-swiper-slide:nth-child(2){
    width: 300px;
    height: 400px;
    background-image: url(img/gallery\ \(2\).jpg);
    background-size: cover;
    background-position: center;
}

.gallery-swiper-slide:nth-child(3){
    width: 300px;
    height: 400px;
    background-image: url(img/gallery\ \(3\).jpg);
    background-size: cover;
    background-position: center;
}

.gallery-swiper-slide:nth-child(4){
    width: 300px;
    height: 400px;
    background-image: url(img/gallery\ \(4\).jpg);
    background-size: cover;
    background-position: center;
}

.gallery-swiper-slide:nth-child(5){
    width: 300px;
    height: 400px;
    background-image: url(img/gallery\ \(5\).jpg);
    background-size: cover;
    background-position: center;
}

.gallery-swiper-slide:nth-child(6){
    width: 300px;
    height: 400px;
    background-image: url(img/gallery\ \(6\).jpg);
    background-size: cover;
    background-position: center;
}

.gallery-swiper-slide:nth-child(7){
    width: 300px;
    height: 400px;
    background-image: url(img/gallery\ \(7\).jpg);
    background-size: cover;
    background-position: center;
}

.gallery-swiper-slide:nth-child(8){
    width: 300px;
    height: 400px;
    background-image: url(img/gallery\ \(8\).jpg);
    background-size: cover;
    background-position: center;
}
/* Destination Gallery Section Ends Here */

/* Testimonials Section Starts Here */
.testimonials{
    width: 100%;
}

.testimonials .container{
    padding: 5rem 2rem;
        
}

.testimonial-heading-wrapper h3{
    font-size: var(--primary-heading);
    color: var(--heading-text-color);
    font-family: var(--primary-font);
    position: relative;
    display: inline;
}

.testimonial-heading-wrapper h3::after{
    content: '';
    position: absolute;
    width: 50%;
    height: 3px;
    background-color: var(--primary-1000);
    bottom: 0;
    left: 0;
}

.testimonial-heading-wrapper p{
    font-size: var(--body-text-1000);
    color: var(--body-text-color);
    font-family: var(--secondary-font);
    font-weight: 400;
    margin-top: 1rem;
}

.testimonial-swiper{
    width: 100%;
    margin-top: 3rem !important;
}

.testimonial-swiper-wrapper{
    width: 100%;
}

.testimonial-swiper-slide{
    border-radius: 12px;
    position: relative;
    padding: 100px 0 0 0;
}

.testimonial-container{
    width: 100%;
    padding: 2.5rem 2.5rem 2.5rem 2.5rem;
    background-color: white;
    position: relative;
    background-color: var(--grey-light);
    border-radius: 12px;
}

.testimonial-container .image-wrapper{
    width: 100px;
    height: 100px;
    margin-top: -90px;
    margin-bottom: 1.5rem;
}

.testimonial-container .image-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.testimonial-container p{
    font-size: var(--body-text--750);
    font-family: var(--secondary-font);
    color: var(--body-text-color);
    line-height: 150%;
    margin-bottom: 1.25rem;
}

.testimonial-container .rating-wrapper i{
    color: var(--rating-star-color);
    font-size: 1.5rem;
    padding-left: 0.25rem;
}

.testimonial-container h4{
    font-size: 1.5rem;
    color: var(--body-text-color);
    font-family: var(--primary-font);
    margin-top: 1.25rem;
    margin-bottom: 0.25rem;
}

.testimonial-container h5{
    font-size: var(--body-text--750);
    color: var(--body-text-color);
    font-family: var(--secondary-font);
    font-weight: 400;
}

.testimonial-nav-wrapper{
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    margin-top: -2rem;
}

.test-prev{
    background-color: var(--heading-text-color);
    padding: 1.5rem 1.25rem;
    border-radius: 12px;
    cursor: pointer;
}

.test-next{
    background-color: var(--primary-1000);
    padding: 1.5rem 1.25rem;
    border-radius: 12px;
    cursor: pointer;
}
/* Testimonials Section Ends Here */

/* Newsletter Section Starts Here */
.newsletter{
    width: 100%;
}

.newsletter .container{
    padding: 5rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
    margin-bottom: -100px;
}

.newsletter-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5rem;
    width: max-content;
    padding: 3.75rem 2.5rem;
    background-color: var(--pure-white);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 1.625rem;
}

.email-wrapper label{
    font-size: 1.25rem;
    color: var(--body-text-color);
    font-family: var(--secondary-font);
}

.email-wrapper input{
    padding: 1.5rem 2.5rem;
    border: 0;
    border-radius: 12px;
    background-color: #FFE8D4;
    width: 20vw;
}

.email-wrapper input::placeholder{
    font-family: var(--secondary-font);
    color: var(--primary-1000);
    font-size: 1.125rem;
}

.cta{
    display: flex;
    gap: 1rem;
    align-items: flex-end;
}

.cta a{
    font-size: var(--body-text--750);
    color: white;
    padding: 1.25rem 2.5rem;
    background-color: var(--primary-1000);
    border-radius: 12px;
    text-decoration: none;
    font-family: var(--secondary-font);
}

.newsletter-container h2{
    font-family: var(--primary-font);
    color: #767E86;
    font-size: 3.375rem;

}

.email-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cta{
    display: flex;
}
/* Newsletter Section Ends Here */

/* Footer Section Starts Here */
.footer{
    width: 100%;
    background-color: #172432;
}

.footer .container{
    padding: 15rem 2rem 8.75rem 2rem;
    display: flex;
    justify-content: space-between;
}

.footer-links{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.footer-links h3{
    font-size: 1.5rem;
    font-family: var(--secondary-font);
    color: var(--pure-white);
    font-weight: 500;
    margin-bottom: 1rem;
}

.footer-links a{
    text-decoration: none;
    color: var(--pure-white);
    font-size: 1.125rem;
    font-family: var(--secondary-font);
    font-weight: 400;
}

.footer .container .part1 p{
    color: white;
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 0.75rem;
}

.footer .container .part1 .logo-wrapper{
    width: 15.25vw;
    height: auto;
    margin-bottom: 1.25rem;
}

.footer .container .part1 .logo-wrapper img{
    width: 100%;
    height: 100%;
}

.footer .container .part5 h3{
    color: var(--pure-white);
    font-family: var(--secondary-font);
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.footer .container .part5 i{
    padding-right: 1.75rem;
}

.footer .container .part5 i:nth-child(4){
    padding-right: 0;
}
/* Footer Section Ends Here */

/* Secondary Footer Section Starts Here */
.footer-secondary{
    width: 100%;
}

.footer-secondary .container{
    padding: 1rem 2rem;
    background-color: var(--primary-1000);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-secondary .container p{
    color: white;
    font-family: var(--secondary-font);
    font-size: 1.125rem;
}

.footer-secondary .container p a{
    text-decoration: none;
    color: var(--heading-text-color);
}

.footer-secondary .container p i{
    font-size: 1.2rem;
    color: var(--heading-text-color);
}
/* Secondary Footer Section Ends Here */


@media only screen and (min-width: 320px) and (max-width: 768px){
    .hero .container{
        width: 100%;
        height: 100%;
        padding: 0 1rem;
        position: relative;
    }

    .hamburger{
        display: block;
    }

    .hamburger i{
        font-size: 1.75rem;
        font-weight: 400;
    }

    .navbar{
        width: 100%;
        padding: 1rem 1rem;
        align-items: center;
        justify-content: space-between;
    }

    .hero .brand{
        width: 48.61%;
    }

    .brand img{
        width: 100%;
    }

    .menu-links{
        display: none;
    }

    .menu-links.active{
        height: calc(100vh - 6rem);
        width: 100%;
        display: flex;
        background-color: rgba(0, 0, 0, 0.819);
        flex-direction: column;
        position: absolute;
        top: 6rem;
        left: 0;
        justify-content: flex-start;
        align-items: center;
        padding-top: 2rem;
        text-align: left;
    }

    .menu-links.active a{
        text-align: left;
    }

    .button-wrapper{
        display: none;
    }

    .form-wrapper{
        flex-direction: column;
        width: 100%;
        margin-top: 5rem;
    }

    .booking-form{
        flex-direction: column;
        width: 100%;
        border-radius: 12px 12px 0 0;
    }

    .text-wrapper{
        width: 100%;
        padding: 0 1rem;
        margin-top: 5rem;
    }

    .text-wrapper h1{
        font-size: 2rem;
        line-height: 125%;
        font-weight: 400;
    }

    .form-cta-wrapper{
        border-radius: 0 0 12px 12px;
        padding: 2rem;
        display: flex;
        align-items: center;
    }

    .form-cta-wrapper a{
        width: 80%;
    }

    .form-cta-wrapper i{
        width: 20%;
    }

    .form-input-left{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1.5rem;
    }

    .form-input-right{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    /* Hero Section Ends Here */

    /* Destination Section Starts Here */
    .heading-wrapper h3{
        font-size: 2.5rem;
    }

    .heading-wrapper p{
        font-size: 1.125rem;
    }

    .partone{
        flex-direction: column;
        gap: 2rem;
        align-items: flex-start;
    }

    .nav-button-wrapper .next-element{
        padding: 1rem;
    }

    .nav-button-wrapper .prev-element{
        padding: 1rem;
    }

    .nav-button-wrapper{
        display: none;
    }

    .nav-button-wrapper2{
        display: flex;
        margin:  0 auto;
        padding-bottom: 5rem;
    }

    .nav-button-wrapper2 .next-element2{
        padding: 1rem;
    }

    .nav-button-wrapper2 .prev-element2{
        padding: 1rem;
    }

    .destination{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .destination-swiper{
        width: 100%;
        height: 60vh;
        max-height: 320px;
        margin-top: 5rem;
    }

    .destination .container{
        padding: 5rem 1rem;
        padding-bottom: 2rem;
    }
    
    .swiper-wrapper{
        width: 100%;
        height: 100%;
    }
    
    .destination-swiper .swiper-slide{
        width: 100%;
        height: 100%;
        background: url(/img/dest1.jpg);
        background-size: cover;
        background-position: center;
        border-radius: 1.5rem;
        padding: 2rem 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        justify-content: flex-end;
        position: relative;
    }

    .swiper-slide:nth-child(2){
        background: url(/img/millenium.jpg);
        background-size: cover;
        background-position: center;
    }
    
    .swiper-slide:nth-child(3){
        background: url(/img/rialto.jpg);
        background-size: cover;
        background-position: center;    
    }
    
    .swiper-slide:nth-child(4){
        background: url(/img/tajmahal.jpg);
        background-size: cover;
        background-position: center;
    }
    
    .swiper-slide:nth-child(5){
        background: url(/img/isro.jpg);
        background-size: cover;
        background-position: center;
    }
    
    .swiper-slide:nth-child(6){
        background: url(/img/kedarmath.jpg);
        background-size: cover;
        background-position: center;
    }

    .destination-swiper .swiper-slide h4{
        font-size: 1.5rem;
    }

    .destination-swiper .swiper-slide p{
        font-size: 1.125rem;
    }
    /* Destionation Section Ends Here */

    /* Special Offer Section Starts Here */
    .special-offer .container{
        padding: 3rem 1rem;
    }

    .special-slide-content-wrapper .text-wrapper{
        padding: 1.25rem;
    }

    .special-slide-content-wrapper .text-wrapper h4{
        font-size: 1.75rem;
    }

    .special-slide-content-wrapper .text-wrapper p{
        font-size: 1rem;
    }

    .price-wrapper{
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .price-wrapper h3{
        font-size: 2rem;
    }

    .special-text-wrapper h4{
        font-size: 2.5rem;
        text-align: left;
    }

    .special-text-wrapper h4::after{
        left: 0;
        top: 105%;
    }

    .special-text-wrapper p{
        font-size: var(--body-text--750);
        text-align: left;
    }

    .price-wrapper a{
        padding: 1rem 1.5rem;
        text-transform: uppercase;
    }

    .special-nav-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .special-nav-wrapper .special-next-element{
        padding: 1rem;
    }

    .special-nav-wrapper .special-prev-element{
        padding: 1rem;
    }
    /* Special Offer Section Ends Here */

    /* Our Blog Section Starts Here */
    .our-blog .container{
        padding: 5rem 1rem;
    }

    .blog-heading h3{
        font-size: 2.5rem;
        position: relative;
    }

    .blog-heading h3::before{
        width:50%;
    }

    .blog-heading p{
        font-size: 1.125rem;
    }

    .blog-content{
        flex-direction: column;
    }

    .blog-content-image{
        width: 100%;
        height: 50vh;
    }

    .blog-content-text{
        width: 100%;
    }

    .blog-content-text h4{
        font-size: 2.5rem;
        width: 100%;
    }

    .blog-content-text p{
        font-size: var(--body-text--750);
        line-height: 2.625rem;
    }

    .blog-content-text a{
        font-size: 1.5rem;
    }

    .blog-heading p{
        margin-top: 1rem;
    }
    /* Our Blog Section Ends Here */

    /* Trip Planner Section Starts Here */
    .trip-planner{
        width: 100%;
        /* background-color: blue; */
        height: 360vh;
        position: relative;
    }

    .trip-planner .container{
        padding: 5rem 1rem;
        flex-direction: column;
        position: relative;
    }
    .trip-planner-text{
        width: 100%;
        margin-bottom: 3rem;
    }

    .trip-planner-text h4{
        font-size: 2.5rem;
        display: inline;
    }

    .trip-planner-text h4::after{
        width: 100%;
    }

    .trip-planner-text p{
        font-size: var(--body-text--750);
        margin-top: 1.5rem;
    }

    .trip-planner-swiper{
        width: 100%;
    }

    .trip-planner-swiper-wrapper{
        flex-direction: column !important;
        gap: 15rem;
    }

    .trip-planner-swiper-slide{
        width: 100% !important;
    }

    .trip-planner-swiper-slide:nth-child(2){
        background: none;
    }

    .trip-planner-swiper-slide:nth-child(3){
        background: none;
    }

    .trip-planner-swiper-slide:nth-child(1):after{
        bottom: 35%;
        width: 100%;
        height: 100%;
    }

    .trip-planner-swiper-slide:nth-child(2):after{
        width: 100%;
        bottom: 35%;
        height: 100%;
    }

    .trip-planner-swiper-slide:nth-child(3):after{
        width: 100%;
        bottom: 35%;
        height: 100%;
    }

    .trip-planner-swiper-slide .price-wrapper{
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .trip-planner-swiper-slide .price-wrapper h4{
        font-size: var(--body-text--750);
    }

    .trip-planner-swiper-slide .title-wrapper h4{
        font-size: 1.75rem;
    }
    /* Trip Planner Section Ends Here */

    /* Destination Gallery Section Starts Here */
    .gallery{
        width: 100%;
    }

    .gallery .container{
        width: 100%;
        padding: 5rem 1rem;
    }

    .gallery-heading-wrapper{
        width: 100%;
        flex-direction: column;
    }

    .gallery-heading-wrapper .title-wrapper{
        width: 100%;
    }

    .gallery-heading-wrapper .title-wrapper h3{
        font-size: 2.5rem;
        width: 100%;
        display: inline;
    }

    .gallery-heading-wrapper .title-wrapper h3::after{
        width: 50%;
    }

    .gallery-nav-wrapper{
        display: none;
    }

    .gallery-nav-wrapper2{
        display: flex;
        gap: 1rem;
        justify-content: center;
        margin: 2rem auto;
    }
    /* Destination Gallery Section Ends Here */

    /* Testimonial Section Starts Here */
    .testimonials .container{
        width: 100%;
        padding: 5rem 1rem;
    }

    .testimonial-swiper-slide:nth-child(n){
        background: none;
    }

    .testimonial-nav-wrapper{
        justify-content: center;
    }

    .testimonial-heading-wrapper h3{
        font-size: 3rem;
        /* font-weight: 500; */
    }

    .testimonial-heading-wrapper p{
        font-size: var(--body-text--750);
    }
    /* Testimonial Section Ends Here */

    /* Newsletter Section Starts Here */
    .newsletter{
        width: 100%;
    }

    .newsletter .container{
        padding: 5rem 1rem;
    }

    .newsletter-container h2{
        font-size: 2.5rem;
    }

    .newsletter-container{
        flex-direction: column;
        padding: 2.5rem 1.25rem;
    }

    .email-wrapper{
        width: 100%;
    }

    .email-wrapper input{
        width: 100%;
    }

    .email-wrapper input::placeholder{
        font-size: 1.25rem;
        text-align: left;
    }

    .cta{
        flex-direction: column;
        width: 100%;
        align-items: stretch;
    }

    .cta a{
        text-align: center;
    }
    /* Newsletter Section Ends Here */

    /* Footer Section Starts Here */
    .footer .container{
        flex-direction: column;
        gap: 4rem;
        padding: 5rem 1rem;
    }

    .footer .container .part1 .logo-wrapper{
        width: 15rem;
    }
    /* Footer Section Ends Here */
}

@media only screen and (min-width: 768px) and (max-width: 1152px){

    /* Hero Section Starts Here */
    .hero{
        width: 100%;
    }

    .container{
        width: 100%;
        padding: 0 2rem;
    }

    .hero .brand{
        width: 30%;
    }

    .brand img{
        width: 100%;
    }

    .hamburger{
        display: block;
    }

    .text-wrapper h1{
        font-size: 2.275rem;
        line-height: 130%;
        width: 70%;
    }

    .menu-links{
        display: none;
    }

    .menu-links.active{
        height: calc(100vh - 5rem);
        width: 100%;
        display: flex;
        background-color: rgba(0, 0, 0, 0.819);
        flex-direction: column;
        position: absolute;
        top: 7rem;
        left: 0;
        justify-content: flex-start;
        align-items: center;
        padding-top: 2rem;
        text-align: left;
    }

    .button-wrapper{
        display: none;
    }

    .text-wrapper{
        margin-top: 5rem;
    }

    .form-wrapper{
        margin-top: 5rem;
    }

    .booking-form{
        flex-direction: column;
    }

    .form-input-left{
        display: flex;
        width: 100%;
        gap: 1.5rem;
    }

    .form-input-right{
        display: flex;
        width: 100%;
        gap: 1.5rem;
    }
    /* Hero Section Ends Here */

    /* Destination Section Starts Here */
    .destination .container{
        padding: 5rem 2rem;
    }

    .partone{
        flex-direction: column;
        gap: 2rem;
        align-items: flex-start;
    }

    .destination-swiper{
        width: 100%;
        height: 60vh;
        max-height: 456px;
    }

    .swiper-wrapper{
        width: 100%;
    }

    .destination .swiper-slide{
        width: 100%;
    }
    /* Destination Section Starts Here */

    /* Special Offer Section Starts Here */
    .price-wrapper{
        flex-direction: row;
    }

    .special-nav-wrapper   {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    /* Special Offer Section Ends Here */

    /* Our Blog Section Starts Here */
    .our-blog .container{
        padding: 5rem 1rem;
    }

    .blog-heading h3{
        font-size: 2.5rem;
        position: relative;
        display: inline;
    }

    .blog-heading h3::before{
        width:50%;
    }

    .blog-heading p{
        font-size: 1.125rem;
    }

    .blog-content{
        flex-direction: column;
    }

    .blog-content-image{
        width: 100%;
        height: 80vh;
    }

    .blog-content-text{
        width: 100%;
        margin: 0;
    }

    .blog-content-text h4{
        font-size: 2.5rem;
        width: 100%;
    }

    .blog-content-text p{
        font-size: var(--body-text--750);
        line-height: 2.625rem;
    }

    .blog-content-text a{
        font-size: 1.5rem;
    }

    .blog-heading p{
        margin-top: 1rem;
    }

    /* Our Blog Section Ends Here */

    
    /* Trip Planner Section Starts Here */

    .trip-planner{
        height: 340vh;
    }

    .trip-planner .container{
        padding: 5rem 1rem;
        flex-direction: column;
    }

    .trip-planner-text{
        width: 100%;
        margin-bottom: 3rem;
    }

    .trip-planner-text h4{
        font-size: 2.5rem;
        display: inline;
    }

    .trip-planner-text h4::after{
        width: 100%;
    }

    .trip-planner-text p{
        font-size: var(--body-text--750);
        margin-top: 1.5rem;
    }

    .trip-planner-swiper{
        width: 100%;
    }

    .trip-planner-swiper-wrapper{
        flex-direction: column !important;
        gap: 15rem;
    }

    .trip-planner-swiper-slide{
        width: 100% !important;
    }

    .trip-planner-swiper-slide:nth-child(2){
        background: none;
    }

    .trip-planner-swiper-slide:nth-child(3){
        background: none;
    }

    .trip-planner-swiper-slide:nth-child(1):after{
        bottom: 35%;
        width: 100%;
    }

    .trip-planner-swiper-slide:nth-child(2):after{
        width: 100%;
        bottom: 35%;
    }

    .trip-planner-swiper-slide:nth-child(3):after{
        width: 100%;
        bottom: 35%;
    }

    .trip-planner-swiper-slide .price-wrapper{
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .trip-planner-swiper-slide .price-wrapper h4{
        font-size: var(--body-text--750);
    }

    .trip-planner-swiper-slide .title-wrapper h4{
        font-size: 1.75rem;
    }
    /* Trip Planner Section Ends Here */

    /* Destination Gallery Section Starts Here */
    .gallery .container{
        padding: 5rem 1rem;
    }

    .gallery-nav-wrapper{
        display: none;
    }

    .gallery-nav-wrapper2{
        display: flex;
        gap: 1rem;
        justify-content: center;
        margin-top: 3rem;
    }
    /* Destination Gallery Section Ends Here */
    

    .testimonial-swiper-slide:nth-child(n){
        background: none;
    }

    .newsletter{
        padding: 0 2rem;
    }

    .newsletter .container{
        /* width: 100%; */
        flex-direction: column;
        gap: 3.25rem;
        padding: 2rem;
    }

    .newsletter-container{
        flex-direction: column;
        width: max-content;
        gap: 2.5rem;
    }

    .email-wrapper input{
        width: 60vw;
    }

    /* Footer Section Starts Here */
    .footer .container{
        flex-direction: column;
        gap: 4rem;
        padding: 6.25rem 1rem;
    }

    .footer .container .part1 .logo-wrapper{
        width: 15rem;
    }
    /* Footer Section Ends Here */
}

@media only screen and (min-width: 1152px) and (max-width: 1440px){
    .text-wrapper h1{
        font-size: 4rem;
    }

    /* Destination Section Starts Here */
    .destination-swiper{
        width: 100%;
        height: 80vh;
        max-height: 661px;
    }

    .swiper-wrapper{
        width: 497px;
    }

    .destination .swiper-slide{
        width: 497px;
    }
    /* Destination Section Ends Here */

    .special-slide-content-wrapper .text-wrapper{
        padding: 1.5rem 1.25rem;
    }

    .price-wrapper a{
        text-transform: uppercase;
        padding: 1rem 1.5rem;
    }

    .blog-content-text h4{
        width: 80%;
    }

    .blog-content-text p{
        font-size: 1.125rem;
        line-height: 2.625rem;
    }

    .blog-content-image{
        max-height: 650px;
    }

    .blog-heading h3::before{
        content: '';
        width: 100%;
    }

    
    /* Trip Planner Section Starts Here */

    .trip-planner{
        height: 260vh;
    }
    .trip-planner .container{
        padding: 5rem 2rem;
        flex-direction: column;
    }

    .trip-planner-text{
        width: 100%;
        margin-bottom: 3rem;
    }

    .trip-planner-text h4{
        font-size: 2.5rem;
        display: inline;
    }

    .trip-planner-text h4::after{
        width: 100%;
    }

    .trip-planner-text p{
        font-size: var(--body-text--750);
        margin-top: 1.5rem;
    }

    .trip-planner-swiper{
        width: 100%;
    }

    .trip-planner-swiper-wrapper{
        flex-direction: column !important;
        gap: 15rem;
    }

    .trip-planner-swiper-slide{
        width: 100% !important;
    }

    .trip-planner-swiper-slide:nth-child(2){
        background: none;
    }

    .trip-planner-swiper-slide:nth-child(3){
        background: none;
    }

    .trip-planner-swiper-slide:nth-child(1):after{
        bottom: 35%;
        width: 100%;
    }

    .trip-planner-swiper-slide:nth-child(2):after{
        width: 100%;
        bottom: 35%;
    }

    .trip-planner-swiper-slide:nth-child(3):after{
        width: 100%;
        bottom: 35%;
    }

    .trip-planner-swiper-slide .price-wrapper{
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .trip-planner-swiper-slide .price-wrapper h4{
        font-size: var(--body-text--750);
    }

    .trip-planner-swiper-slide .title-wrapper h4{
        font-size: 1.75rem;
    }
    /* Trip Planner Section Ends Here */

    .gallery-nav-wrapper2{
        display: none;
    }

    .gallery .container{
        padding: 5rem 2rem;
    }

}

@media only screen and (min-width: 1440px) and (max-width: 1920px){
    .text-wrapper h1{
        font-size: 5rem;
    }

    .form-input-left{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        width: 100%;
    }

    .form-input-right{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        width: 100%;
    }

    .destination-swiper{
        width: 100%;
        height: 80vh;
        margin-top: 5rem;
    }

    .price-wrapper a{
        text-transform: uppercase;
        padding: 1.25rem 1.5rem
    }

    .special-slide-content-wrapper .text-wrapper{
        padding: 1.25rem 1.5rem;
    }

    .blog-heading h3{
        display: inline;
    }

    .blog-heading h3::before{
        position: absolute;
        width: 45%;
    }

    .blog-heading p{
        margin-top: 1rem;
    }

    .gallery-nav-wrapper2{
        display: none;
    }

    .trip-planner{
        height: 100vh;
    }
}

@media only screen and (min-width: 1920px){
    .container{
        max-width: 1556px;
        margin: 0 auto;
    }

    .form-input-left{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        width: 100%;
    }

    .form-input-right{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        width: 100%;
    }

    .destination-swiper{
        height: 600px;
    }

    .gallery-nav-wrapper2{
        display: none;
    }
}
